.additional-goods {
  margin-top: 30px;

  @media (min-width: $tablet) {
    margin-top: 46px;
  }

  @media (min-width: $desktop) {
    margin-top: 47px;
  }
}

.additional-goods__wrap {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }
}

.additional-goods__list {
  @include reset-list();

  @media (min-width: $tablet) {
    border-left: 1px solid $smokyWhite2;
    border-right: 1px solid $smokyWhite2;
  }

  @media (min-width: $desktop) {
    border-left: none;
    border-right: none;
    flex-grow: 2;
  }
}

.additional-goods__item {
  border-top: 1px solid $smokyWhite2;
  padding-top: 4px;
  padding-right: 1px;

  @media (min-width: $tablet) {
    padding-top: 15px;
    padding-left: 38px;
    padding-right: 36px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 12px;
  }

  &:not(:first-child) {
    margin-top: 17px;

    @media (min-width: $tablet) {
      margin-top: 19px;
      padding-bottom: 10px;
    }

    @media (min-width: $desktop) {
      margin-top: 8px;
      padding-bottom: 9px;
    }
  }

  &:last-child {
    padding-bottom: 17px;
    border-bottom: 1px solid $smokyWhite2;

    @media (min-width: $tablet) {
      padding-bottom: 27px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 14px;
    }
  }
}
