.additional-goods {
  margin-top: 30px;

  @media (min-width: $tablet) {
    margin-top: 46px;
  }
}

.additional-goods__wrap {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }
}
.additional-goods__title {
  @include title();
  @include green-line();
  margin-top: 67px;
  margin-bottom: 34px;

  @media (min-width: $desktop) {
    margin-top: 75px;
  }
}

.additional-goods__list {
  @include reset-list();

  @media (min-width: $tablet) {
    border-left: 1px solid $smokyWhite2;
    border-right: 1px solid $smokyWhite2;
  }

  @media (min-width: $desktop) {
    border-left: none;
    border-right: none;
    flex-grow: 2;
  }
}

.additional-goods__item {
  border-top: 1px solid $smokyWhite2;
  padding-top: 4px;
  padding-right: 1px;

  @media (min-width: $tablet) {
    padding-top: 15px;
    padding-left: 38px;
    padding-right: 36px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
  }

  &:last-child {
    padding-bottom: 17px;
    border-bottom: 1px solid $smokyWhite2;
  }

  &:not(:first-child) {
    margin-top: 6px;
  }
}
