.advantages {
  margin-top: 26px;
  padding: 0 20px;
}

.advantages__list {
  @include reset-list();
}

.advantages__item {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
}

.advantages__image {
  width: 60px;
  height: 60px;
  margin-right: 21px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkGrey;
  display: inline-block;
  margin-top: 3px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}
