.button {
  box-sizing: border-box;
  width: 100%;
  background-color: $green;
  border: none;
  color: $white;
  padding: 10px 44px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 17px 20px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $green2;
  }

  &:active {
    outline: none;
    color: rgba(255, 255, 255, 0.3);
  }

  &--wide {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet) {
      padding: 17px 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--grey {
    background-color: $smokyWhiteLight;
    color: $darkGrey;
    font-size: 16px;
    line-height: 20px;

    &:hover,
    &:focus {
      outline: none;
      background-color: $smokyWhite2;
    }

    &:active {
      outline: none;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--tight {
    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 20px;
      padding: 9px;
    }
  }
}
