.button {
  width: 100%;
  background-color: $green;
  border: 0;
  color: $white;
  padding: 10px 44px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
}
