.catalog {
  margin-top: 27px;

  @media (min-width: $desktop) {
    margin-top: 60px;
  }
}

.catalog__list {
  @include reset-list;
  margin-top: 40px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
    margin-right: -30px;
  }

  @media (min-width: $desktop) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.catalog__item {
  border-top: 1px solid $smokyWhite2;

  @media (min-width: $tablet) {
    box-sizing: border-box;
    border-top: none;
    width: 324px;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient($white 0%, $white 81px, $smokyWhiteLight 82px, $smokyWhiteLight 100%);
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
  }

  &:last-child {
    padding-bottom: 24px;
    border-bottom: 1px solid $smokyWhite2;

    @media (min-width: $tablet) {
      border: none;
    }
  }

  &:not(:first-child) {
    margin-top: 24px;

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }

  &--more {
    background: $white;
    padding-top: 57px;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
}

.catalog__more {
  margin-top: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $tablet) {
    border: 2px solid $smokyWhiteLight;
    padding-top: 50px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 38px;
  }
}

.catalog_plus {
  align-self: center;
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;

  @media (min-width: $tablet) {
    width: 60px;
    height: 60px;
  }

  &::before {
    content: "";
    flex-grow: 1;
    border: 1px solid $grey2;
    height: 2px;
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    flex-grow: 1;
    border: 1px solid $grey2;
    width: 2px;
    height: 100%;
    align-self: center;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.catalog__more-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $almostBlack;
  margin-top: 23px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
    margin-top: 50px;
    max-width: 135px;
    align-self: center;
  }
}

.catalog__more-text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $darkGrey;
  margin-top: 7px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
    max-width: 169px;
    align-self: center;
    margin-top: 23px;
  }
}

.catalog__button-all {
  background-color: $smokyWhiteLight;
  border: none;
  color: $darkGrey;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;

  @media (min-width: $tablet) {
    margin-top: 70px;
  }
}
