.catalog {
  margin-top: 40px;
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  padding: 0 20px;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  &:not(:first-child) {
    margin-top: 24px;
  }
}
