.checkbox {
  border: 0;
}

.checkbox__list {
  border: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.checkbox__item-input {
  display: none;
}

.checkbox__item {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;

  @media (min-width: $tablet) {
    width: 50%;
  }

  &:not(:first-child) {
    margin-top: 12px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-right: 15px;

    @media (min-width: $tablet) {
      margin-right: 18px;
      width: 40px;
      height: 40px;
    }
  }
}

.checkbox__item-input:checked + .checkbox__item-text::before {
  position: absolute;
  left: 7px;
  top: 8px;
  content: "";
  display: inline-block;
  width: 18px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-image: url("../img/check.svg");

  @media (min-width: $tablet) {
    left: 10px;
    top: 19px;
  }
}
