.checkbox {
  border: none;
}

.checkbox__list {
  border: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.checkbox__item-input {
  display: none;
}

.checkbox__item {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    min-width: 221px;
    margin-bottom: 32px;

    &:nth-child(2n + 1) {
      margin-right: 123px;
    }
  }

  @media (min-width: $desktop) {
    &:nth-child(n) {
      margin-right: 104px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-right: 15px;

    @media (min-width: $tablet) {
      margin-right: 18px;
      width: 40px;
      height: 40px;
    }
  }
}

.checkbox__item-input:checked + .checkbox__item-text::before {
  position: absolute;
  left: 7px;
  top: 8px;
  display: inline-block;
  width: 18px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.1 15.5'%3E%3Cpath fill='%2368b73f' d='M20.1 0L7.7 13.3 1 6.1 0 7.2l7.6 8.2.1.1L21 1.2l.1-.1z'/%3E%3C/svg%3E");

  @media (min-width: $tablet) {
    left: 10px;
    top: 3px;
  }
}
