.container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &--white {
    background-color: $white;
  }

  &--form {
    @media (min-width: $tablet) {
      padding-left: 70px;
      padding-right: 67px;
    }

    @media (min-width: $desktop) {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
