.cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cooperation__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $almostBlack;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
  }
}

.cooperation__address {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $darkGrey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
