.cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding-top: 65px;
    padding-left: 41px;
    padding-right: 43px;
    padding-bottom: 62px;
  }
}

.cooperation__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $almostBlack;
  min-width: 140px;
  max-width: 171px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 25px;
  }
}

.cooperation__address {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $darkGrey;
  max-width: 160px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.cooperation__city {
  @media (min-width: $tablet) {
    display: inline-block;
    margin-top: 18px;
  }
}
