.copyrite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 163px;
  }
}

.copyrite__text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $darkGrey;
  align-self: center;

  @media (min-width: $tablet) {
    align-self: center;
  }
}

.copyrite__logo {
  text-decoration: none;
  color: $darkGrey;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet) {
    width: 163px;
  }
}

.copyrite__logo-image {
  width: 40px;
  height: 40px;
  position: relative;
  right: -6px;
}
