.example {
  background: #eaeaea;
  padding: 27px 21px 25px 20px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
