.example {
  background-color: $smokyWhite;
  margin-top: 32px;
  padding-top: 26px;
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    background-color: $white;
    margin-top: 43px;
    padding-top: 43px;
    border-top: 1px solid $smokyWhite2;
  }

  @media (min-width: $desktop) {
    border: none;
    margin-top: 65px;
    padding-top: 0;
    padding-bottom: 60px;

    @include color-fill($white, $smokyWhiteLight);
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__title-wrap {
  @media (min-width: $desktop) {
    padding: 10px 103px 77px 110px;
    background: $white;
  }
}

.example__wrap {
  position: relative;

  @media (min-width: $desktop) {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__content {
  &--left {
    @media (min-width: $desktop) {
      max-width: 436px;
    }
  }

  &--right {
    @media (min-width: $tablet) and (max-width: $beforeDesktop) {
      @include color-fill($white, $smokyWhite);
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $desktop) {
      width: 690px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.example__image-wrap {
  width: 100%;
  display: flex;
}

.example__image-content {
  width: 100%;

  @media (min-width: $tablet) {
    width: 50%;

    @include color-fill($white, $smokyWhite);
  }

  &--wide {
    @media (min-width: $desktop) {
      @include color-fill($white, $smokyWhiteLight);
    }
  }

  &--thin {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      top: 0;
      right: 0;
    }

    @media (min-width: $desktop) {
      @include color-fill($white, $smokyWhite);
    }
  }
}

.example__image {
  width: 100%;

  @media (min-width: $tablet) {
    float: left;
  }
}

.example__result {
  display: flex;
  width: 100%;
  padding-left: 45px;
  padding-right: 38px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    position: absolute;
    left: 0;
    bottom: 30px;
  }
}

.example__progress-wrap {
  position: relative;
  align-self: center;
  flex-grow: 2;
}

.example__progress {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white;
  border: 1px solid $smokyWhite;
  box-sizing: border-box;
  height: 14px;
  border-radius: 5px;

  @media (min-width: $tablet) {
    background-color: $lightTelegrey;
    border: none;
    height: 6px;
  }

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    @media (min-width: $tablet) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-left: -2px;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
      background-color: $white;
    }
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-50%);
    background-color: $green;
    width: 42%;
    height: 6px;
    left: 6px;
    top: 6px;
    border-radius: 3px;

    @media (min-width: $tablet) {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -2px;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.example__result-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    border-bottom: 1px solid $grey2;
  }

  &--before {
    margin-right: 18px;

    @media (min-width: $tablet) {
      margin-right: 24px;
    }
  }

  &--after {
    margin-left: 16px;

    @media (min-width: $tablet) {
      margin-left: 24px;
    }
  }
}

.example__after {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 14px;
}

.example__text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkGrey;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 63px;
  }

  @media (min-width: $desktop) {
    margin-top: 115px;
  }
}

.example__info {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.example__data-content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.example__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;

  @media (min-width: $tablet) {
    margin-top: 53px;
  }

  @media (min-width: $desktop) {
    margin-top: 69px;
  }
}

.example__data-item {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.example__data-value {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  width: 124px;
  height: 56px;
  border: 1px solid $lightTelegrey;
  border-radius: 5px;
  padding: 13px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 162px;
    height: 71px;
    font-size: 30px;
    line-height: 37px;
    margin-right: 42px;
  }
}

.example__data-text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $darkGrey;
  max-width: 87px;
  padding: 0 10px;
  position: absolute;
  bottom: -15px;
  left: 18px;
  background-color: $smokyWhite;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    max-width: 150px;
    bottom: -5px;
  }

  @media (min-width: $desktop) {
    background-color: $smokyWhiteLight;
  }

  &--weight {
    @media (min-width: $tablet) {
      padding: 0 9px 0 14px;
    }
  }

  &--time {
    @media (min-width: $tablet) {
      padding: 0 9px 0 8px;
      margin-left: -9px;
    }
  }
}

.example__cost {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-top: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 64px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 326px;
    margin-top: 45px;
  }
}

.example__cost-value {
  @media (min-width: $tablet) {
    margin-top: 10px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}
