.example {
  background-color: $smokyWhite;
  margin-top: 42px;
  padding: 27px 21px 25px 20px;
}

.example__title {
  margin-bottom: 33px;
}

.example__text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkGrey;
}

.example__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.example__data-item {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.example__data-value {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  width: 124px;
  height: 56px;
  border: 1px solid $lightTelegrey;
  border-radius: 5px;
  padding: 13px;
  box-sizing: border-box;
}

.example__data-text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $darkGrey;
  max-width: 87px;
  padding: 0 10px;
  position: absolute;
  bottom: -15px;
  left: 18px;
  background-color: $smokyWhite;
  box-sizing: border-box;
}

.example__cost {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-top: 20px;
}
