.form {
  padding: 24px 20px 20px 20px;
}

.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  margin-top: 14px;
  margin-bottom: 39px;
  padding-right: 25px;
}

.form__label {
  position: relative;
  display: flex;
  margin-top: 14px;
}

.form__input-text {
  align-self: center;
}

.form__input {
  margin-left: 13px;
  flex-grow: 1;

  &--age {
    margin-left: 16px;
  }

  &--weight {
    margin-left: 15px;
  }
}

.form__radio {
  margin: 22px -20px 2px -20px;
}

.form__title {
  @include title();
  @include green-line();
  margin-top: 23px;
  margin-right: -20px;

  &--contact {
    margin-bottom: 21px;
    max-width: 202px;
  }

  &--comment {
    margin-bottom: 39px;
  }

  &--additional {
    margin-top: 18px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
}

.form__checkbox {
  padding: 0;
  margin-left: 0;
  margin-top: 14px;
}

.form__button {
  margin-top: 35px;
}

.form__notice {
  margin: 21px 0;
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $black;
}
