.input {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 13px 15px 12px 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $darkGrey;
  min-width: 150px;
}
