.main-nav {
  @media (max-width: $mobileOnly) {
    margin-top: 10px;
    position: relative;
  }

  &--close {
    @media (max-width: $mobileOnly) {
      display: none;
    }
  }
}

.main-nav__list {
  @include reset-list;

  @media (min-width: $tablet) {
    text-align: right;
    padding: 18px 0 0 0;
  }

  @media (min-width: $desktop) {
    padding: 16px 0 0 0;
  }
}
