.page-main__title {
  margin-top: 22px;
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  &--form {
    @media (min-width: $tablet) {
      margin-bottom: 54px;
    }
  }

  &--catalog {
    @media (min-width: $tablet) {
      margin-top: 31px;
    }
  }
}
