.page-footer {
  background: $smokyWhiteLight;
  padding-top: 10px;

  @media (min-width: $desktop) {
    margin-top: 45px;
  }
}

.page-footer__cooperation {
  padding-top: 19px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding-top: 67px;
  }
}

.page-footer__copyrite {
  padding: 22px 20px 22px 19px;
}

.page-footer__map {
  width: 100%;
  height: 320px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}
