.present {
  margin-top: 39px;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-top: 71px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-left: 82px;
    margin-top: 0;
    margin-bottom: 88px;
  }
}

.present__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 64px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
  background-image: url("../img/gift-photo-mobile@1x.jpg"), linear-gradient(90deg, #65a93c, #63a73a);
  background-size: cover;

  @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg"), linear-gradient(90deg, #65a93c, #63a73a);
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 37px;
    padding-right: 124px;
    padding-bottom: 50px;
    padding-left: 90px;
    background-image: url("../img/gift-photo-tablet@1x.jpg"), linear-gradient(90deg, #65a93c, #63a73a);

    @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg"), linear-gradient(90deg, #65a93c, #63a73a);
    }
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 42px;
    padding-top: 64px;
    padding-bottom: 25px;
    background-image: url("../img/gift-photo-desktop@1x.jpg"), linear-gradient(90deg, #65a93c, #63a73a);

    @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg"), linear-gradient(90deg, #65a93c, #63a73a);
    }
  }
}

.present__icon {
  display: inline-block;
  align-self: center;
}

.present__icon-svg {
  fill: $white;
}

.present__text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: $white;
  margin-top: 62px;
  max-width: 161px;
  align-self: center;

  @media (min-width: $tablet) {
    text-align: left;
    margin-top: 35px;
  }

  @media (min-width: $desktop) {
    text-align: center;
    margin-top: 61px;
  }
}
