
.product__content {
  display: flex;
  flex-direction: row;
  padding: 20px 0 12px 0;
}

.product__image-wrap {
  min-width: 140px;
  min-height: 112px;
  display: flex;
  justify-content: center;
}

.product__image {
  align-self: center;
}

.product__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 100px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.product__data {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $darkGrey;
  margin-top: 14px;
}

.product__data-item {
  display: flex;
  justify-content: space-between;
}
