.product {
  display: flex;
  flex-wrap: wrap;
  padding-top: 18px;
}

.product__content {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 22px;
  flex-grow: 2;

  @media (min-width: $tablet) {
    flex-direction: column;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 13px;
  }
}

.product__image-wrap {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: $mobileOnly) {
    max-width: 140px;
  }

  @media (min-width: $tablet) {
    align-self: center;
    height: 200px;
  }

  @media (min-width: $desktop) {
    height: 196px;
  }
}

.product__image {
  align-self: flex-start;
  width: 100%;
  height: auto;

  @media (min-width: $tablet) {
    align-self: flex-start;
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop) {
    width: 172px;
    height: 196px;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 100px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    align-self: center;
    text-align: center;
    margin-top: 34px;
    padding-left: 2px;
  }

  @media (min-width: $desktop) {
    margin-top: 43px;
    padding-left: 2px;
    line-height: 22px;
  }
}

.product__data {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $darkGrey;
  margin-top: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 21px;
  }

  @media (min-width: $desktop) {
    margin-top: 26px;
  }
}

.product__data-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }
}

.product__button-wrap {
  width: 100%;

  @media (min-width: $tablet) {
    padding-left: 38px;
    padding-right: 38px;
  }
}

.product__button {
  z-index: 1;

  @media (min-width: $tablet) {
    margin-top: 14px;
  }

  @media (min-width: $desktop) {
    margin-top: 15px;
  }
}
