.progress {
  margin-top: 22px;

  @media (min-width: $tablet) {
    margin-top: -23px;
  }

  @media (min-width: $desktop) {
    margin-top: 80px;
  }
}

.progress__list {
  @include reset-list;
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 22px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.progress__item {

  padding: 21px 20px 18px 20px;
  background-color: $smokyWhiteLight;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-top: 74px;
    padding-right: 42px;
    padding-bottom: 57px;
    padding-left: 51px;
  }

  @media (min-width: $desktop) {
    width: calc(50% - 40px);
    padding-top: 38px;
  }

  &:not(:first-child) {
    margin-top: 18px;

    @media (min-width: $tablet) {
      margin-top: 31px;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
    }
  }
}

.progress__header {
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet) {
    justify-content: space-between;
    height: 37px;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    height: auto;
  }
}

.progress__image-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;
  margin-right: 20px;
  margin-top: 4px;

  @media (min-width: $tablet) {
    order: 1;
    width: 200px;
    height: 200px;
    margin-right: 19px;
    margin-top: 16px;
  }

  @media (min-width: $desktop) {
    order: 0;
    width: 100px;
    height: 100px;
    margin-right: 63px;
    margin-top: 10px;
  }
}

.progress__image {
  margin-right: 19px;
  margin-left: 2px;
  position: relative;

  &--slim {
    left: 7px;
    top: -4px;

    @media (min-width: $tablet) {
      width: 141px;
      height: 194px;
      top: -9px;
      left: 27px;
    }

    @media (min-width: $desktop) {
      width: 71px;
      height: 97px;
      top: -5px;
      left: 13px;
    }
  }

  &--weight {
    right: 60px;
    top: 10px;
    left: -7px;

    @media (min-width: $tablet) {
      width: 268px;
      height: 113px;
      top: 43px;
      left: -36px;
    }

    @media (min-width: $desktop) {
      width: 134px;
      height: 57px;
      top: 19px;
      left: -20px;
    }
  }
}

.progress__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $tablet) {
    align-self: center;
  }
}

.progress__text {
  font-family: $additionalFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkGrey;
  margin-top: 22px;
  border-bottom: 1px solid $grey;
  padding-bottom: 9px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-top: 27px;
    padding-bottom: 33px;
  }

  @media (min-width: $desktop) {
    margin-top: 40px;
    padding-bottom: 10px;
  }

  &--slim {
    @media (min-width: $tablet) {
      max-width: 377px;
    }

    @media (min-width: $desktop) {
      max-width: inherit;
    }
  }

  &--weight {
    @media (min-width: $tablet) {
      max-width: 342px;
    }

    @media (min-width: $desktop) {
      max-width: inherit;
    }
  }
}

.progress__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  display: inline-block;
  margin-top: 19px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 26px;
  }

  @media (min-width: $tablet) {
    margin-top: 1px;
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 15px;
    width: 24px;
    height: 12px;
    background-image: url("../img/sprite.svg#icon-right-arrow-long");

    @media (min-width: $tablet) {
      margin-left: 25px;
      transform: translateY(-5px);
    }
  }
}

.progress__arrow {
  margin-left: 8px;
  position: relative;
  top: -2px;

  @media (min-width: $tablet) {
    margin-left: 16px;
    top: -5px;
  }

  @media (min-width: $desktop) {
    margin-left: 19px;
  }
}
