.site__list {
  @include reset-list;
}

.site-list__item {
  box-sizing: border-box;
  padding: 22px 20px 24px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet) {
    border-top: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: inline;
    position: relative;
    padding: 0;
    margin: 0 0 0 32px;
  }

  @media (min-width: $desktop) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 0 30px;
  }

  &--active {
    @media (min-width: $tablet) {
      &::before {
        position: absolute;
        content: "";
        bottom: -9px;
        width: calc(100% - 4px);
        border-bottom: 2px solid #68b738;
        left: 1px;
      }
    }
  }

  &--index {
    @media (min-width: $desktop) {
      &::before {
        border-color: $white;
      }
    }
  }
}

.site-list__item-link {
  text-decoration: none;
  color: $black;

  &--index {
    @media (min-width: $desktop) {
      color: $white;
    }
  }
}
