.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.social__item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;

  @media (min-width: $tablet) {
    margin-left: 14px;
    margin-right: 14px;
  }
}

.social__icon {
  position: relative;

  &--vk {
    left: 4px;

    @media (min-width: $tablet) {
      width: 30px;
      height: 16px;
      left: 0;
      top: -2px;
    }
  }

  &--instagram {
    @media (min-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    @media (min-width: $tablet) {
      width: 14px;
      height: 28px;
      top: -3px;
    }
  }
}

.social__icon-svg {
  fill: #666666;
}
