$mainFont: "Oswald", "Helvetica", sans-serif;
$additionalFont: "Arial", "Geneva", sans-serif;

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $mainFont;
  max-width: 1440px;
  margin: 0 auto;
}
