@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-right: -20px;
  padding-left: 20px;
  color: $black;
  background: $white;
  position: relative;
  display: inline-block;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 36px;
    margin-left: 32px;
    padding-left: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 71px;
    padding-left: 40px;
  }
}

@mixin green-line {
  &::after {
    position: absolute;
    width: 100vw;
    content: "";
    z-index: -1;
    border: 1px solid #68b738;
    margin-left: 22px;
    height: 2px;
    box-sizing: border-box;
    top: 16px;

    @media (min-width: $tablet) {
      top: 22px;
      left: -54px;
    }

    @media (min-width: $desktop) {
      top: 22px;
      left: -91px;
    }
  }
}
