$black: #000000;
$white: #ffffff;
$green: #68b738;
$green2: #5eaa2f;
$almostBlack: #111111;
$smokyWhite: #eaeaea;
$smokyWhite2: #ebebeb;
$smokyWhite3: #e6e6e6;
$smokyWhiteLight: #f2f2f2;
$grey: #d9d9d9;
$grey2: #d3d3d3;
$darkGrey: #444444;
$lightTelegrey: #cdcdcd;

$mobileOnly: 767px;
$tablet: 768px;
$beforeDesktop: 1199px;
$desktop: 1200px;
$retinaDpi: 144dpi;
$retinaDppx: 1.5dppx;
